body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Arial;
    color: #103263;
    font-size: 61px;
    font-weight: bold;
    margin: 0;
}

#top {
    background: url('../img/layer1.png') no-repeat top center;
    background-size: cover;
    display: table;
    width: 100%;
}

.header_top {
    float: left;
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

.header_main {
    float: left;
    width: 100%;
}

.product {
    float: right;
    margin-top: 13px;
}

.product a {
    color: #0d80e5;
    font-family: Arial;
    font-size: 11px;

}

span {
    border-left: 1px solid #fff;
    padding-left: 5px;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
}

.contact {
    float: right;
    margin-right: 25px;
}

.contact li {
    display: inline-block;
}

.contact ul {
    color: #fff;
}

.contact a {
    margin-right: 20px;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.finger {
    float: right;
    right: 617px;
    position: absolute;
    top: 45px;
    z-index: 2;
}

.trans {
    margin: 0 0 5px 5px;
    position: relative;
    z-index: 0;
}

.trans a:before {
    background: rgb(30, 87, 153);
    background: -moz-linear-gradient(-45deg, rgba(30, 87, 153, 1) 28%, rgba(125, 185, 232, 1) 82%);
    background: -webkit-linear-gradient(-45deg, rgba(30, 87, 153, 1) 28%, rgba(125, 185, 232, 1) 82%);
    background: linear-gradient(135deg, rgba(30, 87, 153, 1) 28%, rgba(125, 185, 232, 1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
    content: "";
    left: -15px;
    top: -5px;
    position: absolute;
    height: 30px;
    transform: skew(25deg);
    width: 60px;
    z-index: -1;
}

.center_left {
    float: left;
    width: 50%;
}

.logo {
    margin-top: -82px;
    margin-left: -110px;
}

.text {
    margin-top: -60px;
}

.text p {
    font-family: Arial;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
}

.button {
    margin-top: 40px;
    margin-left: 85px;
}

.center_right {
    float: right;
    width: 50%;
}

.search_lang {
    margin-top: 20px;
}

form {
    position: relative;
    width: 150px;
    margin: 0 auto;
    float: left;
}

input {
    width: 100%;
    height: 25px;
    padding-left: 10px;
    border: 2px solid #28374e;
    border-radius: 2px;
    outline: none;
    background-color: #113054;
    font-size: 10px;
    font-family: Arialgit;
}

button.button_shape {
    position: absolute;
    top: 0;
    right: 0px;
    width: 30px;
    height: 25px;
    border: none;
    background: #23589a;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #fff;
}

.search {
    margin-left: 240px;
}

.lang {
    float: right;
}

.lang_color:hover {
    background: rgb(30, 87, 153);
    background: -moz-linear-gradient(-45deg, rgba(30, 87, 153, 1) 28%, rgba(125, 185, 232, 1) 82%);
    background: -webkit-linear-gradient(-45deg, rgba(30, 87, 153, 1) 28%, rgba(125, 185, 232, 1) 82%);
    background: linear-gradient(135deg, rgba(30, 87, 153, 1) 28%, rgba(125, 185, 232, 1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
    display: block;
    text-decoration: none;
    z-index: 1;
}

.lang a {
    border-left: 1px solid #4d535d;
    padding: 5px 8px;
    color: #fff;
    font-family: Vernada;
    font-size: 11px;
    float: left;
    text-align: center;
}

.arrow_right {
    position: absolute;
    top: 180px;
    left: 78%;
}

.arrow_left {
    position: absolute;
    top: 180px;
    left: 19%;
}

.camera {
    float: right;
    margin-top: 20px;
}

/* Navigation */

#menu_navigate {
    background-color: #000828;
    background-size: cover;
    float: left;
    width: 100%;
}

.wrapper {
    width: 960%;
    margin: 0 auto;
}

.wrapper ul {
    list-style: none;
    margin: 0;
}

ul .tab-icon {
    float: left;
    padding: 20px 147px;
}

.tab-icon.icon-home {
    background: url('../img/home.png') no-repeat;
    position: relative;
}

.tab-icon.icon-basic {
    background: url('../img/basic.png') no-repeat;
    position: relative;
}

.tab-icon.icon-pro {
    background: url('../img/Pro.png') no-repeat;
    position: relative;
}

.tab-icon.icon-blog {
    background: url('../img/Blog.png') no-repeat;
    position: relative;
}

ul .icon-home {
    position: absolute;
    left: 90px;
    top: 47px;

}

ul .icon-basic {
    position: absolute;
    left: 635px;
    top: 42px;
    z-index: 1;
}

ul .icon-pro {
    position: absolute;
    left: -147px;
    top: 47px;

}

ul .icon-blog {
    position: absolute;
    left: 390px;
    top: 47px;

}

.icon-basic {
    color: #4fc6f0;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

.icon-home, .icon-pro, .icon-blog {
    color: #666666;
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
}

li.tab-icon:hover {
    background: url('../img/basic.png') no-repeat;
    color: #4fc6f0;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    top: 42px;
    z-index: 1;
}

/* Main-Content */

#main {
    background-image: url('../img/Layer3.png');
    background-size: cover;
    float: left;
    width: 100%;
}

.main_content {
    width: 960px;
    margin: 0 auto;
    padding-top: 35px;
}

.center_rigth {
    float: left;
    width: 50%;
}

.specification {
    float: left;
    width: 50%;
}

.text_buttom p {
    margin: 0;
}

.specification p {
    margin: 0;
}

.digits {
    float: right;
    width: 50%;
    padding-top: 47px;
}

.specification, .text_buttom, .digits p {
    font-family: Verdana;
    font-size: 12px;
}

.text_average {
    float: left;
}

.serial {
    color: #103c55;
    font-family: Verdana;
    font-size: 26px;
    font-weight: bold;
}

.serial h2 {
    color: #103c55;
    font-family: Verdana;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 25px;
}

.specification, .text h3 {
    margin-bottom: -10px;
}

h3 {
    font-family: Verdana;
    font-size: 14px;
    text-align: left;
    margin: 0px;
}

.specification {
    margin-bottom: 15px;
}

.text_buttom p {
    text-align: justify;
}

.small_img {
    text-align: center;
    padding-bottom: 50px;
}

.small_img img {
    padding-right: 10px;
}

.read a {
    font-style: italic;
    color: #2d79d8;
    font-family: Verdana;
    font-size: 12px;
    text-decoration: underline;
}

.cost, strong {
    color: #6b6d6e;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}

.bought {
    overflow: hidden;
    padding-top: 60px;
}

.cost {
    float: left;
}

.add_batton {
    float: right;
    padding-right: 100px;
}

button {
    border: 0;
}

.text_content {
    margin-top: 0;
}

.digits p {
    margin-top: 0;
}

.features {
    transform: translate(372px, 812px);
    position: absolute;

}

/*   Main_Buttom   */

#main_buttom {
    float: left;
    width: 100%;
    border-bottom: 1px solid #dadada;
    -webkit-box-shadow: 0 10px 6px -6px #e0e0e0;
    -moz-box-shadow: 0 10px 6px -6px #e0e0e0;
    box-shadow: 0 10px 6px -3px #e0e0e0;
}

.row {
    float: left;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}

.buttom_content {
    width: 960px;
    margin: 0 auto;
}

.laptop, .glob, .folder {
    float: left;
    width: 33%;
}

.laptop p, .glob p, .folder p {
    float: right;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px
}

/*   Video-YouTube   */

#Video {
    float: left;
    width: 100%;
}

.watch_video {
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
}

iframe {
    float: left;
    width: 47%;
    margin-right: 20px;
}

/*   Footer   */

#main-footer {
    background: url("../img/layer_footer.png");
    background-size: cover;
    float: left;
    width: 100%;
}

.content_footer {
    width: 960px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 60px;
}

.pay {
    float: left;
    width: 33%;
}

.copy {
    float: left;
    width: 33%;
}

.chat {
    float: right;
    width: 33%;
}

.rights {
    font-family: Arial;
    font-size: 13px;
    color: #fff;
}

.pay a {
    padding-right: 5px;
}

.copy a {
    padding-left: 50px;
}

.chat a {
    padding-right: 10px;
}





