body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
h1 {
    font-family: Arial;
    color: #103263;
    font-size: 61px;
    font-weight: bold;
    margin: 0;
}
#top {
    background: url("../img/layer1.png") no-repeat top center;
    background-size: cover;
    display: table;
    width: 100%;
}
.header_top{
    float: left;
    width: 100%;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}
.header_main{
    float: left;
    width: 100%;
}
.product {
    float: right ;
    margin-top: 13px;
}
.product a {
    color: #0d80e5;
    font-family: Arial;
    font-size: 11px;

}
span {
    border-left: 1px solid #fff;
    padding-left: 5px;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
}
.contact{
    float: right;
    margin-right: 25px;
}
.contact li {
    display: inline-block;
}
.contact ul {
    color: #fff;
}
.contact a {
    margin-right: 20px;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
.finger {
    float: right;
    right: 617px;
    position: absolute;
    top: 45px;
    z-index: 2;
}
.trans {
    margin: 0 0 5px 5px;
    position: relative;
    z-index: 0;
}
.trans a:before {
    background-color: #26558b;
@include filter-gradient(#26558b, #cedbe9, horizontal);
@include background-image(linear-gradient(left top, #26558b 0%,
#3a8bc2 34%,#419ad6 44%,#419ad6 48%,#419ad6 49%,#419ad6 49%,#6199c7 50%,
#419ad6 51%,#6199c7 51%,#419ad6 51%,#419ad6 60%,#419ad6 60%,#cedbe9 100%,
#aac5de 100%,#6199c7 100%,#6199c7 101%,#cedbe9 102%));
    content: "";
    left: -15px;
    top: -5px;
    position: absolute;
    height: 30px;
    transform: skew(25deg);
    width: 60px;
    z-index: -1;
}
.center_left {
    float: left;
    width: 50%;
}
.logo {
    margin-top: -82px;
    margin-left: -110px;
}
.text {
    margin-top: -60px;
}
.text p {
    font-family: Arial;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
}
.button {
    margin-top: 40px;
    margin-left: 85px;
}
.center_right {
    float: right;
    width: 50%;
}
.search_lang {
    margin-top: 20px;
}
form {
    position: relative;
    width: 150px;
    margin: 0 auto;
    float: left;
}
input {
    width: 100%;
    height: 25px;
    padding-left: 10px;
    border: 2px solid #28374e;
    border-radius: 2px;
    outline: none;
    background-color: #113054;
    font-size: 11px;
    font-family: Myriad Pro;
}
button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 30px;
    height: 25px;
    border: none;
    background: #23589a;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
::-webkit-input-placeholder {
    color: #fff;
}
.search {
    margin-left: 240px;
}
.lang {
    float: right;
}
.lang_color:hover {
    background-color: #26558b;
@include filter-gradient(#26558b, #cedbe9, horizontal);
@include background-image(linear-gradient(left top, #26558b 0%,
#3a8bc2 34%,#419ad6 44%,#419ad6 48%,#419ad6 49%,#419ad6 49%,#6199c7 50%,
#419ad6 51%,#6199c7 51%,#419ad6 51%,#419ad6 60%,#419ad6 60%,#cedbe9 100%,
#aac5de 100%,#6199c7 100%,#6199c7 101%,#cedbe9 102%));
    display: block;
    text-decoration: none;
    z-index: 1;
}
.lang a {
    border-left:1px solid #bbb;
    padding: 5px 8px;
    color: #fff;
    font-family: Vernada;
    font-size: 11px;
    float: left;
    text-align: center;
}
.arrow_right {
    position: absolute;
    top: 180px;
    left: 78%;
}
.arrow_left {
    position: absolute;
    top: 180px;
    left: 19%;
}
.camera {
    float: right;
    margin-top: 20px;
}
